; ################  ITEM SPAWN CHANGES  ###############
; =====================================================
; ==                  SAFEROOM ITEMS                 ==
; ==    Saferoom item spawns - ammo piles, weapons   ==
; =====================================================
; --- Medkit spawns in the saferoom
add:
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "-857.938 -10405.1 -63.1207"
	"angles" "0 344.5 0"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "-866.81 -10414.9 -60.9567"
	"angles" "90 63.5 0"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "-871.498 -10421.4 -60.9567"
	"angles" "90 4.00001 0"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "-858.613 -10431.7 -63.1207"
	"angles" "0 60 0"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}

; ################  ITEM SPAWN CHANGES  ###############
; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================

; =====================================================
; ==                STATIC AMMO PILES                ==
; ==          Add or modify ammo pile spawns         ==
; =====================================================
; --- Ammo pile outside room after the ramp
add:
{
	"classname" "weapon_ammo_spawn"
	"origin" "1771 -11959 260"
	"angles" "0 90 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
; --- Ammo pile at the camp site after the ramp
{
	"classname" "weapon_ammo_spawn"
	"origin" "938 -11084 254"
	"angles" "0 0 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}

; --- Make the ammo pile in the barn always spawn
modify:
{
	match:
	{
		"hammerid" "2266049"
	}
	insert:
	{
		"spawnflags" "2"
	}
}
