; ################  ITEM SPAWN CHANGES  ###############
; =====================================================
; ==                  SAFEROOM ITEMS                 ==
; ==    Saferoom item spawns - ammo piles, weapons   ==
; =====================================================
; --- Medkit spawns in the saferoom
add:

{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "-6482 -6779.69 378.415"
	"angles" "0 252 0"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "-6468.8 -6774.54 380.453"
	"angles" "89 211 -180"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "-6461.52 -6768.45 380.453"
	"angles" "89 235.5 -180"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "-6475 -6759 378.415"
	"angles" "0 134 0"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}

; ################  ITEM SPAWN CHANGES  ###############
; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================

; =====================================================
; ==                STATIC AMMO PILES                ==
; ==          Add or modify ammo pile spawns         ==
; =====================================================
; --- Force ammo pile to spawn before the event
modify:
{
	match:
	{
		"hammerid" "1437324"
	}
	insert:
	{
		"spawnflags" "2"
	}
}

; --- Ammo pile on the table in the trainyard
add:
{
	"classname" "weapon_ammo_spawn"
	"origin" "-6631 -8573 -59"
	"angles" "0 180 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}