; =====================================================
; ==                  SAFEROOM ITEMS                 ==
; ==    Saferoom item spawns - ammo piles, weapons   ==
; =====================================================
; --- Medkit spawns in the saferoom
add:
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "-4269 -10582 -266"
	"angles" "84.5 270 0"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "-4218 -10567 -267"
	"angles" "87.7946 319.861 124.948"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "-4243 -10573 -267"
	"angles" "87.7946 168.861 124.948"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "-4253 -10586 -266"
	"angles" "87.7946 260.861 124.948"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}

; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================
; --- Add medkits in the junkyard office
add:
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "-2477 1335 38"
	"angles" "90 135 0"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "-2501 1336 38"
	"angles" "90 29 0"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}

; =====================================================
; ==                STATIC AMMO PILES                ==
; ==          Add or modify ammo pile spawns         ==
; =====================================================
add:
; --- Ammo pile by the police car outside saferoom
{
	"classname" "weapon_ammo_spawn"
	"origin" "-4368 -7592 -255"
	"angles" "0 45 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
; --- Make ammo pile in shipping container after the car shop always spawn
{
	"classname" "weapon_ammo_spawn"
	"origin" "-1822.8 -1231.8 -35.2955"
	"angles" "0 285 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
filter:
{
	"hammerid" "2984159"
}

; ###########  ADDITIONAL PROPS AND SPAWNS  ###########
; =====================================================
; ==                      PROPS                      ==
; ==       New props for balance and SI spawns       ==
; =====================================================

; =====================================================
; ==             LADDER ADDITIONS / FIXES            ==
; ==              Add or change ladders              ==
; =====================================================
add:
; --- Survivor ladder for the one way drop at the first house
{
	"classname" "prop_dynamic"
	"origin" "-1107 -4638 -243"
	"angles" "15 270 0"
	"model" "models/props/de_train/ladderaluminium.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "func_simpleladder"
	"origin" "-79 -84 1144"
	"angles" "0 0 15"
	"model" "*11"
	"normal.x" "0.0"
	"normal.y" "0.96"
	"normal.z" "0.25"
	"team" "0"
}