; =====================================================
; ==          DIRECTOR & EVENT MODIFICATION          ==
; ==       Modify director behaviour and events      ==
; =====================================================
modify:
; --- Force helicopter to land on the left side in versus
{
	match:
	{
		"hammerid" "2407547"
	}
	delete:
	{
		"OnVersus" "stadium_exit_whichside_picker_versusPickRandom0-1"
	}
	insert:
	{
		"OnVersus" "stadium_exit_left_relayEnable0-1"
		"OnVersus" "stadium_exit_left_templateForceSpawn0-1"
	}
}

modify:
; --- New minifinale section
; --- Enable stadium entrance navblocker at the start
{
	match:
	{
		"hammerid" "2098933"
	}
	delete:
	{
		"OnSpawn" "stadium_entrance_door_navblockerUnblockNav0-1"
	}
	insert:
	{
		"OnSpawn" "stadium_entrance_door_navblocker,BlockNav,,0,-1"
	}
}
; --- Fix SFX/VFX for the concert so they are not out of sync due to custom script
{
	match:
	{
		"targetname" "arch_side_fireworks_start_counter"
	}
	replace:
	{
		"max" "13"
	}
}
{
	match:
	{
		"targetname" "arch_side_miclights_start_counter"
	}
	replace:
	{
		"max" "12"
	}
}
{
	match:
	{
		"targetname" "arch_side_beams_start_counter"
	}
	replace:
	{
		"max" "9"
	}
}
{
	match:
	{
		"targetname" "arch_side_beams_stop_counter"
	}
	replace:
	{
		"max" "10"
	}
}
{
	match:
	{
		"targetname" "second_song_counter"
	}
	replace:
	{
		"max" "11"
	}
}
{
	match:
	{
		"targetname" "tank2_music_counter"
	}
	replace:
	{
		"max" "13"
	}
}
{
	match:
	{
		"targetname" "tank1_music_counter"
	}
	replace:
	{
		"max" "9"
	}
}

add:
; --- Logic relay for the minifinale 
{
	"classname" "logic_relay"
	"origin" "10480 -3821 -32"
	"targetname" "mini_finale_relay"
	"spawnflags" "0"
	"OnTrigger" "director,ScriptedPanicEvent,c2m5_minifinale_new,2,-1"
	"OnTrigger" "door_sliding,Open,,0,-1"
}
; --- Button for the event
{
	"classname" "func_button"
	"origin" "-3612 2893 -192"
	"angles" "90 90 0"
	"targetname" "door_button"
	"model" "*1"
	"solid" "0"
	"spawnflags" "1025"
	"wait" "-1"
	"sounds" "11"
	"glow" "door_button_model"
	"rendermode" "10"
	"OnPressed" "mini_finale_relay,Trigger,,0,-1"
	"OnPressed" "!self,Kill,,0,-1"
}
; --- Button model
{
	"classname" "prop_dynamic"
	"origin" "-3610 2930 -192"
	"angles" "0 90 0"
	"targetname" "door_button_model"
	"model" "models/props_unique/generator_switch_01.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- Doors for the event
{
	"origin" "-3539 3033 -200"
	"classname" "func_door"
	"model" "*1"
	"spawnflags" "393760"
	"targetname" "door_sliding"
	"rendermode" "10"
	"speed" "0.3"
	"movedir" "-90 0 0"
	"noise1" "plats/squeekmove1.wav"
	"lip" "-10"
	"OnFullyOpen" "stadium_entrance_door_navblocker,UnblockNav,,0,-1"
}
{
	"classname" "prop_dynamic"
	"origin" "-3539 3032 -240"
	"angles" "0 180 0"
	"model" "models/props_interiors/door_sliding_breakable01.mdl"
	"solid" "6"
	"disableshadows" "1"
	"lightingorigin" "event_light"
	"parentname" "door_sliding"
	"targetname" "event_doors"
	"BreakableType" "2"
	"OnBreak" "event_doors,Break,,0,-1"
	"OnBreak" "event_doors,Kill,,0,-1"
}
{
	"classname" "prop_dynamic"
	"origin" "-3538.90 2984 -240"
	"angles" "0 0 0"
	"model" "models/props_interiors/door_sliding_breakable01.mdl"
	"solid" "6"
	"disableshadows" "1"
	"lightingorigin" "event_light"
	"parentname" "door_sliding"
	"targetname" "event_doors"
	"BreakableType" "2"
}
; --- Add breakable wall texture for the bathroom wall
{
	"classname" "prop_dynamic"
	"targetname" "event_doors"
	"origin" "-3539 3008 -177"
	"angles" "0 0 0"
	"model" "models/props/effects/tankwall_128_2_128.mdl"
	"solid" "0"
	"disableshadows" "1"
	"parentname" "event_doors"
	"disablereceiveshadows" "1"
}
; --- Tank spawn for the end of the minifinale
{
	"origin" "-2968 3258 14"
	"targetname" "spawn_door_tank_versus"
	"population" "river_docks_trap"
	"offer_tank" "1"
	"AttackOnSpawn" "1"
	"angles" "0 30 0"
	"classname" "info_zombie_spawn"
}
; --- Block mob spawns behind the food carts at the event
{
	"classname" "logic_auto"
	"OnMapSpawn" "minifinale_nav_block_failzz,ApplyNavAttributes,,10,-1"
}
{
	"classname" "script_nav_attribute_region"
	"origin" "-3920 3322 -240"
	"extent" "350 100 20"
	"spawnflags" "8192"
	"targetname" "minifinale_nav_block_failzz"
	"remove_attributes" "0"
}

; =====================================================
; ==                  SAFEROOM ITEMS                 ==
; ==    Saferoom item spawns - ammo piles, weapons   ==
; =====================================================
add:
; --- Medkit spawns in the saferoom
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "-673.492 2245.76 -219.311"
	"angles" "90 0 0"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "-656.493 2236.76 -219.311"
	"angles" "90 305.5 0"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "-643.492 2219.76 -219.311"
	"angles" "90 198 0"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "-634.492 2204.76 -219.311"
	"angles" "90 125 0"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}
; --- Add T1 weapon spawns in the saferoom
{
	"classname" "weapon_spawn"
	"origin" "-588 2153 -220"
	"angles" "0 90 90"
	"weapon_selection" "tier1_shotgun"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
{
	"classname" "weapon_spawn"
	"origin" "-608 2189 -220"
	"angles" "0 75 90"
	"weapon_selection" "any_smg"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}

; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================
filter:
; --- Remove medical cabinet in the finale area
{
	"classname" "prop_health_cabinet"
}

add:
; --- Add medkits in the finale area
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "-2210.94 3446.59 -141.774"
	"angles" "90 229 0"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "-2202 3460 -141.774"
	"angles" "90 276 0"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "-2206 3478 -141.774"
	"angles" "90 344 0"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "-2218 3461 -141.774"
	"angles" "90 90 0"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}

; =====================================================
; ==                STATIC AMMO PILES                ==
; ==          Add or modify ammo pile spawns         ==
; =====================================================
add:
; --- Ammo pile on the foodcart by the event
{
	"classname" "weapon_ammo_spawn"
	"origin" "-4177 3292 -133"
	"angles" "0 270 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}

; =====================================================
; ==                      PROPS                      ==
; ==       New props for balance and SI spawns       ==
; =====================================================
add:
; --- Fix props disappearing by toggling shadows on map start / round change
{
	"classname" "logic_auto"
	"OnMapSpawn" "_props_shadow_fix,EnableShadow,,30,-1"
	"OnMapSpawn" "_props_shadow_fix,DisableShadow,,31,-1"
	"OnMapSpawn" "door_button_model,EnableShadow,,30,-1"
	"OnMapSpawn" "door_button_model,DisableShadow,,31,-1"
	"OnMapSpawn" "event_doors,EnableShadow,,30,-1"
	"OnMapSpawn" "event_doors,DisableShadow,,31,-1"
	
	; --- Props added by TLS
	"OnMapSpawn" "anv_mapfixes_helistuck_caseunique,EnableShadow,,30,-1"
	"OnMapSpawn" "anv_mapfixes_helistuck_caseunique,DisableShadow,,31,-1"
	"OnMapSpawn" "anv_mapfixes_helistuck_casecaster,EnableShadow,,30,-1"
	"OnMapSpawn" "anv_mapfixes_helistuck_casecaster,DisableShadow,,31,-1"
	"OnMapSpawn" "anv_mapfixes_missing_staircase,EnableShadow,,30,-1"
	"OnMapSpawn" "anv_mapfixes_missing_staircase,DisableShadow,,31,-1"
	"OnMapSpawn" "anv_mapfixes_yesdraw_infecteddoorway,EnableShadow,,30,-1"
	"OnMapSpawn" "anv_mapfixes_yesdraw_infecteddoorway,DisableShadow,,31,-1"
	"OnMapSpawn" "anv_mapfixes_yesdraw_infectedroom,EnableShadow,,30,-1"
	"OnMapSpawn" "anv_mapfixes_yesdraw_infectedroom,DisableShadow,,31,-1"
	; --- Disable shadows early on props added that start with shadows enabled to ensure the fix works
	"OnMapSpawn" "anv_mapfixes_yesdraw_infecteddoorway,DisableShadow,,29,-1"
	"OnMapSpawn" "anv_mapfixes_yesdraw_infectedroom,DisableShadow,,29,-1"
}

modify:
; --- Additional toggle on finale start
{
	match:
	{
		"targetname" "stage_escape_button"
	}
	insert:
	{
		"FinaleStart" "_props_shadow_fix,EnableShadow,,0,-1"
		"FinaleStart" "_props_shadow_fix,DisableShadow,,1,-1"
		"FinaleStart" "door_button_model,EnableShadow,,0,-1"
		"FinaleStart" "door_button_model,DisableShadow,,1,-1"
		"FinaleStart" "event_doors,EnableShadow,,0,-1"
		"FinaleStart" "event_doors,DisableShadow,,1,-1"
		; --- Props added by TLS
		"FinaleStart" "anv_mapfixes_helistuck_caseunique,EnableShadow,,1,-1"
		"FinaleStart" "anv_mapfixes_helistuck_caseunique,DisableShadow,,2,-1"
		"FinaleStart" "anv_mapfixes_helistuck_casecaster,EnableShadow,,1,-1"
		"FinaleStart" "anv_mapfixes_helistuck_casecaster,DisableShadow,,2,-1"
		"FinaleStart" "anv_mapfixes_missing_staircase,EnableShadow,,1,-1"
		"FinaleStart" "anv_mapfixes_missing_staircase,DisableShadow,,2,-1"
		"FinaleStart" "anv_mapfixes_yesdraw_infecteddoorway,EnableShadow,,1,-1"
		"FinaleStart" "anv_mapfixes_yesdraw_infecteddoorway,DisableShadow,,2,-1"
		"FinaleStart" "anv_mapfixes_yesdraw_infectedroom,EnableShadow,,1,-1"
		"FinaleStart" "anv_mapfixes_yesdraw_infectedroom,DisableShadow,,2,-1"
		; --- Disable shadows early on props added that start with shadows enabled to ensure the fix works
		"FinaleStart" "anv_mapfixes_yesdraw_infecteddoorway,DisableShadow,,0,-1"
		"FinaleStart" "anv_mapfixes_yesdraw_infectedroom,DisableShadow,,0,-1"
	}
}

add:
; --- Minifinale props
; --- Tent by event for infected spawn
{
	"classname" "prop_dynamic"
	"origin" "-3886 2569 -256"
	"angles" "0 133 0"
	"model" "models/props_misc/fairground_tent_closed.mdl"
	"solid" "6"
	"disableshadows" "1"
	"rendercolor" "211 124 109"
	"targetname" "_props_shadow_fix"
}
; --- Door frame for sliding doors at the event
{
	"classname" "prop_dynamic"
	"origin" "-3546 3006 -241"
	"angles" "0 180 0"
	"model" "models/props_doors/roll-up_door_open.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
{
	"classname" "prop_dynamic"
	"origin" "-3546 3010 -238"
	"angles" "0 180 -180"
	"model" "models/props_doors/roll-up_door_open.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
; --- Crates ontop the clipped off food cart
{
	"classname" "prop_dynamic"
	"origin" "-3819 3251 -133"
	"angles" "0 270 0"
	"model" "models/props_crates/static_crate_40.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
{
	"classname" "prop_dynamic"
	"origin" "-3819 3294 -133"
	"angles" "0 270 0"
	"model" "models/props_crates/static_crate_40.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
{
	"classname" "prop_dynamic"
	"origin" "-3778 3272 -133"
	"angles" "0 270 0"
	"model" "models/props_crates/static_crate_40.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
{
	"classname" "prop_dynamic"
	"origin" "-3809 3285 -93"
	"angles" "0 225 0"
	"model" "models/props_crates/static_crate_40.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
; --- Ladder to get ontop of the first food cart
{
	"classname" "prop_dynamic"
	"origin" "-4171 3193 -192"
	"angles" "-15 270 0"
	"model" "models/props/cs_assault/ladderaluminium128.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
; --- Vending machines by restrooms, covering garbage cans
; --- Smitty's Side
{
	"classname" "prop_dynamic"
	"origin" "-2594 1930 128"
	"angles" "0 270 0"
	"model" "models/props_office/vending_machine01.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
; --- Clipping for survivors on top
{
	"classname" "env_physics_blocker"
	"origin" "-2581 1927 336"
	"mins" "-21 -25 -104"
	"maxs" "21 25 104"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Clipping to stop players getting stuck on vending machine
{
	"classname" "env_physics_blocker"
	"origin" "-2578 1951 170"
	"mins" "-19 -1 -42"
	"maxs" "19 1 42"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Jake's Side
{
	"classname" "prop_dynamic"
	"origin" "-2014 1898 128"
	"angles" "0 90 0"
	"model" "models/props_office/vending_machine01.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
; --- Clipping for survivors on top
{
	"classname" "env_physics_blocker"
	"origin" "-2027 1900 336"
	"mins" "-21 -25 -104"
	"maxs" "21 25 104"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Anvil cases on the scaffolding on Smitty's side
{
	"classname" "prop_dynamic"
	"origin" "-2738 2406 80"
	"angles" "0 180 0"
	"model" "models/props_fairgrounds/anvil_case_32.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
{
	"classname" "prop_dynamic"
	"origin" "-2738 2406 112"
	"angles" "0 180 0"
	"model" "models/props_fairgrounds/anvil_case_32.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
; --- Leaning plywood by the seating scaffolding on Jake's Side
{
	"classname" "prop_dynamic"
	"origin" "-1961 2309 0"
	"angles" "0 270 0"
	"model" "models/props_industrial/plywood_leaning.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================
add:
; --- Fix LOS under snack machines
{
	"classname" "logic_auto"
	"OnMapSpawn" "losfix_snacks_smitty,AddOutput,mins -22 -1 -6,0,-1"
	"OnMapSpawn" "losfix_snacks_smitty,AddOutput,maxs 22 1 6,0,-1"
	"OnMapSpawn" "losfix_snacks_smitty,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "losfix_snacks_jake,AddOutput,mins -46 -1 -6,0,-1"
	"OnMapSpawn" "losfix_snacks_jake,AddOutput,maxs 46 1 6,0,-1"
	"OnMapSpawn" "losfix_snacks_jake,AddOutput,solid 2,0,-1"
}
{
	"classname" "func_brush"
	"origin" "-2804 1779 134"
	"targetname" "losfix_snacks_smitty"
}
{
	"classname" "func_brush"
	"origin" "-1800 1777 134"
	"targetname" "losfix_snacks_jake"
}
; --- Metal cart to help players avoid bad clipping on tent
{
	"classname" "prop_dynamic"
	"origin" "-3417 2445 -256"
	"angles" "0 225 0"
	"model" "models/props_fairgrounds/metal_cart2.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}

; =====================================================
; ==             GFX / PARTICLES REMOVAL             ==
; ==        Remove visual effects from the map       ==
; =====================================================
modify:
; --- Stop fireworks from firing forever during 2nd tank
{
	match:
	{
		"targetname" "fireworks_relay"
	}
	delete:
	{
		"OnTrigger" "fireworks_relayTrigger3.1-1"
	}
}

; =====================================================
; ==             LADDER ADDITIONS / FIXES            ==
; ==              Add or change ladders              ==
; =====================================================
add:
; --- Ladder to get over the food cart one way drop
{
	"classname" "func_simpleladder"
	"origin" "-7699 -94 872"
	"angles" "-15 -90 0"
	"model" "*9"
	"normal.x" "0.0"
	"normal.y" "-0.96"
	"normal.z" "0.25"
	"team" "0"
}

; =====================================================
; ==                   LMP Edits                     ==
; ==                                                 ==
; =====================================================
; --- Lump Edit Clips - Stop players going out of bounds
add:
{
	"classname" "env_physics_blocker"
	"origin" "-4332 3452 768"
	"mins" "-276 -4 -256"
	"maxs" "276 4 256"
	"initialstate" "1"
	"BlockType" "2"
}
{
	"classname" "env_physics_blocker"
	"origin" "-4604 2688 768"
	"mins" "-4 -760 -256"
	"maxs" "4 760 256"
	"initialstate" "1"
	"BlockType" "2"
}
{
	"classname" "env_physics_blocker"
	"origin" "-4412 2100 768"
	"angles" "0 45 0"
	"mins" "-264 -4 -256"
	"maxs" "264 4 256"
	"boxmins" "-264 -4 -256"
	"boxmaxs" "264 4 256"
	"initialstate" "1"
	"BlockType" "2"
}
{
	"classname" "env_physics_blocker"
	"origin" "-4052 2108 704"
	"angles" "0 135 0"
	"mins" "-244 -4 -320"
	"maxs" "244 4 320"
	"boxmins" "-244 -4 -320"
	"boxmaxs" "244 4 320"
	"initialstate" "1"
	"BlockType" "2"
}
{
	"classname" "env_physics_blocker"
	"origin" "-3788 2036 704"
	"angles" "0 45 0"
	"mins" "-124 -4 -320"
	"maxs" "124 4 320"
	"boxmins" "-124 -4 -320"
	"boxmaxs" "124 4 320"
	"initialstate" "1"
	"BlockType" "2"
}
{
	"classname" "env_physics_blocker"
	"origin" "-3324 1836 736"
	"mins" "-4 -100 -288"
	"maxs" "4 100 288"
	"initialstate" "1"
	"BlockType" "2"
}
{
	"classname" "env_physics_blocker"
	"origin" "-2296 1732 736"
	"mins" "-1032 -4 -288"
	"maxs" "1032 4 288"
	"initialstate" "1"
	"BlockType" "2"
}
{
	"classname" "env_physics_blocker"
	"origin" "-1144 1764 768"
	"angles" "0 15 0"
	"mins" "-128 -4 -256"
	"maxs" "128 4 256"
	"boxmins" "-128 -4 -256"
	"boxmaxs" "128 4 256"
	"initialstate" "1"
	"BlockType" "2"
}
{
	"classname" "env_physics_blocker"
	"origin" "-996 1820 768"
	"angles" "0 45 0"
	"mins" "-36 -4 -256"
	"maxs" "36 4 256"
	"boxmins" "-36 -4 -256"
	"boxmaxs" "36 4 256"
	"initialstate" "1"
	"BlockType" "2"
}
{
	"classname" "env_physics_blocker"
	"origin" "-942 1844 768"
	"mins" "-30 -4 -256"
	"maxs" "30 4 256"
	"initialstate" "1"
	"BlockType" "2"
}
{
	"classname" "env_physics_blocker"
	"origin" "-862 1806 768"
	"angles" "0 135 0"
	"mins" "-64 -6 -256"
	"maxs" "64 6 256"
	"boxmins" "-64 -6 -256"
	"boxmaxs" "64 6 256"
	"initialstate" "1"
	"BlockType" "2"
}
{
	"classname" "env_physics_blocker"
	"origin" "-700 1876 768"
	"angles" "0 45 0"
	"mins" "-156 -6 -256"
	"maxs" "156 6 256"
	"boxmins" "-156 -6 -256"
	"boxmaxs" "156 6 256"
	"initialstate" "1"
	"BlockType" "2"
}
{
	"classname" "env_physics_blocker"
	"origin" "-490 1882 768"
	"angles" "0 135 0"
	"mins" "-140 -4 -256"
	"maxs" "140 4 256"
	"boxmins" "-140 -4 -256"
	"boxmaxs" "140 4 256"
	"initialstate" "1"
	"BlockType" "2"
}
{
	"classname" "env_physics_blocker"
	"origin" "-180 1992 768"
	"angles" "0 45 0"
	"mins" "-292 -4 -256"
	"maxs" "292 4 256"
	"boxmins" "-292 -4 -256"
	"boxmaxs" "292 4 256"
	"initialstate" "1"
	"BlockType" "2"
}
{
	"classname" "env_physics_blocker"
	"origin" "-88 2316 768"
	"angles" "0 135 0"
	"mins" "-160 -4 -256"
	"maxs" "160 4 256"
	"boxmins" "-160 -4 -256"
	"boxmaxs" "160 4 256"
	"initialstate" "1"
	"BlockType" "2"
}

add:
; --- Lump Edit Ladders
; --- Ladder to get ontop right rooftops
{
	"classname" "func_simpleladder"
	"origin" "-6880 848 187"
	"angles" "0 270 0"
	"model" "*31"
	"normal.x" "1.0"
	"normal.y" "0.0"
	"normal.z" "0.0"
	"team" "2"
}
; --- Ladder to get ontop left rooftops
{
	"classname" "func_simpleladder"
	"origin" "-132 5099 187"
	"angles" "0 135 0"
	"model" "*31"
	"normal.x" "-0.70"
	"normal.y" "-0.70"
	"normal.z" "0.0"
	"team" "2"
}