; ################  ITEM SPAWN CHANGES  ###############
; =====================================================
; ==                  SAFEROOM ITEMS                 ==
; ==    Saferoom item spawns - ammo piles, weapons   ==
; =====================================================
filter:
; --- Remove all weapon spawns
{
	"classname" "weapon_spawn"
}

add:
; --- Medkit spawns in the saferoom
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "-3077 4768 106.389"
	"angles" "90 37.5 0"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "-3060 4771 103.831"
	"angles" "0 127 0"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "-3056 4786 103.831"
	"angles" "0 0 0"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "-3070.93 4785.88 106.389"
	"angles" "90 316 0"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}
; --- Add T2 weapon spawns in the saferoom
{
	"classname" "weapon_spawn"
	"origin" "-3146 4786 105"
	"angles" "0 224 -90"
	"weapon_selection" "tier2_shotgun"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
{
	"classname" "weapon_spawn"
	"origin" "-3018 4782 105"
	"angles" "0 218.5 -90"
	"weapon_selection" "weapon_hunting_rifle"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
{
	"classname" "weapon_spawn"
	"origin" "-3188 4783 105"
	"angles" "0 313.5 90"
	"weapon_selection" "any_rifle"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
; --- T1 Weapon spawns in the saferoom
{
	"classname" "weapon_spawn"
	"origin" "-3406 4812 71"
	"angles" "0 253.5 90"
	"weapon_selection" "tier1_shotgun"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
{
	"classname" "weapon_spawn"
	"origin" "-3392 4779 71"
	"angles" "0 164 -90"
	"weapon_selection" "any_smg"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}

; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================
add:
; --- Add T2 weapon spawns in the first apartment building
{
	"classname" "weapon_spawn"
	"origin" "-3224 3102 258"
	"angles" "0 238.5 90"
	"weapon_selection" "tier2_shotgun"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
{
	"classname" "weapon_spawn"
	"origin" "-3052 3062 258"
	"angles" "0 60 90"
	"weapon_selection" "weapon_hunting_rifle"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
{
	"classname" "weapon_spawn"
	"origin" "-3226 3062 258"
	"angles" "0 68.5 -90"
	"weapon_selection" "any_rifle"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
; --- Add T2 weapon spawns in the apartment room with the broken wall
{
	"classname" "weapon_spawn"
	"origin" "-54 1381 258"
	"angles" "0 68.5 -90"
	"weapon_selection" "tier2_shotgun"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
{
	"classname" "weapon_spawn"
	"origin" "-131 1386 258"
	"angles" "0 0 -90"
	"weapon_selection" "weapon_hunting_rifle"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
{
	"classname" "weapon_spawn"
	"origin" "-34 1363 258"
	"angles" "0 238.5 90"
	"weapon_selection" "any_rifle"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
; --- Add T2 weapon spawns in the apartment room with the broken wall
{
	"classname" "weapon_spawn"
	"origin" "-2428 -394 136"
	"angles" "0 328.5 90"
	"weapon_selection" "tier2_shotgun"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
{
	"classname" "weapon_spawn"
	"origin" "-2310 -392 136"
	"angles" "0 218.5 -90"
	"weapon_selection" "weapon_hunting_rifle"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
{
	"classname" "weapon_spawn"
	"origin" "-2374 -395 136"
	"angles" "0 158.5 -90"
	"weapon_selection" "any_rifle"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
; =====================================================
; ==                STATIC AMMO PILES                ==
; ==          Add or modify ammo pile spawns         ==
; =====================================================
add:
; --- Ammo pile in the book store on the first street
{
	"classname" "weapon_ammo_spawn"
	"origin" "-2274 2318 102"
	"angles" "0 0 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
; --- Ammo pile on the table in the office after the pool room
{
	"classname" "weapon_ammo_spawn"
	"origin" "-1178 2003 256"
	"angles" "0 75 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
; --- Ammo pile on scaffolding by the event
{
	"classname" "weapon_ammo_spawn"
	"origin" "-1158 484 274"
	"angles" "0 90 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================
add:
; --- Auto crouch trigger to prevent a stuck spot on the stairs in the pool room
{
	"classname" "logic_auto"
	"OnMapSpawn" "duckqol_pool_room_stuck,AddOutput,mins -1 -4.5 -14,0,-1"
	"OnMapSpawn" "duckqol_pool_room_stuck,AddOutput,maxs 1 4.5 14,0,-1"
	"OnMapSpawn" "duckqol_pool_room_stuck,AddOutput,solid 2,0,-1"
}
{
	"classname" "trigger_playermovement"
	"origin" "-126 1888.5 326"
	"targetname" "duckqol_pool_room_stuck"
	"spawnflags" "2049"
}
; --- Block stuck spots on out of bounds roofs by the final street
{
	"classname" "env_physics_blocker"
	"origin" "-3489 -1376 345"
	"mins" "-255 -96 -58"
	"maxs" "255 96 58"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-3752 -1280 367"
	"mins" "-8 -96 -80"
	"maxs" "8 96 80"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-4033 -1328 534"
	"mins" "-63 -271 -78"
	"maxs" "63 271 78"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-4030 -448 464"
	"mins" "-2 -152 -48"
	"maxs" "2 152 48"
	"initialstate" "1"
	"BlockType" "0"
}

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================
add:
; --- Allow infected into the breakable rooms at the event drop at all times
{
	"classname" "logic_auto"
	"OnMapSpawn" "courtyard_spawn_relay,Trigger,,0,-1"
}

; =====================================================
; ==              TRIGGER REMOVAL / FIX              ==
; ==    Fix triggers that interfere with gameplay    ==
; =====================================================
filter:
; --- Remove hurt triggers from environment / bombing effects
{
	"classname" "trigger_hurt"
}