; ############  DIRECTOR AND EVENT CHANGES  ###########
; =====================================================
; ==          DIRECTOR & EVENT MODIFICATION          ==
; ==       Modify director behaviour and events      ==
; =====================================================
add:
; --- Fix scavenge spawn positions when using thesaccing addon, as the spawn points use the L4D1 survivor names but the addon spawns L4D2 survivors
{
	"classname" "info_survivor_position"
	"origin" "6089.54 342.04 146.017"
	"angles" "0 195 0"
	"targetname" "scavenge_position3"
	"SurvivorName" "Rochelle"
	"Order" "1"
	"GameMode" "scavenge"
}
{
	"classname" "info_survivor_position"
	"origin" "6077.26 256.76 149.017"
	"angles" "0 195 0"
	"targetname" "scavenge_position4"
	"SurvivorName" "Ellis"
	"Order" "1"
	"GameMode" "scavenge"
}
{
	"classname" "info_survivor_position"
	"origin" "6147.4 267.4 150.017"
	"angles" "0 180 0"
	"targetname" "scavenge_position2"
	"SurvivorName" "Nick"
	"Order" "1"
	"GameMode" "scavenge"
}
{
	"classname" "info_survivor_position"
	"origin" "6139.4 315.4 149.017"
	"angles" "0 180 0"
	"targetname" "scavenge_position1"
	"SurvivorName" "Coach"
	"Order" "1"
	"GameMode" "scavenge"
}
; --- Add L4D2 survivor spawn positions to the saferoom, as thesaccing.vpk causes L4D2 survivors to be used when transitioning to this map
{
	"classname" "info_survivor_position"
	"origin" "13915 2567 32.2028"
	"angles" "0 270 0"
	"targetname" "survivorPos_intro_01"
	"SurvivorName" "Nick"
	"Order" "1"
}
{
	"classname" "info_survivor_position"
	"origin" "13864.5 2593.2 32.2028"
	"angles" "0 270 0"
	"targetname" "survivorPos_intro_02"
	"SurvivorName" "Rochelle"
	"Order" "1"
}
{
	"classname" "info_survivor_position"
	"origin" "13806.5 2583 33"
	"angles" "0 270 0"
	"targetname" "survivorPos_intro_03"
	"SurvivorName" "Coach"
	"Order" "1"
}
{
	"classname" "info_survivor_position"
	"origin" "13765.1 2545 33"
	"angles" "0 270 0"
	"targetname" "survivorPos_intro_04"
	"SurvivorName" "Ellis"
	"Order" "1"
}

; ################  ITEM SPAWN CHANGES  ###############
; =====================================================
; ==                  SAFEROOM ITEMS                 ==
; ==    Saferoom item spawns - ammo piles, weapons   ==
; =====================================================
add:
; --- Medkit spawns in the saferoom
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "13559.5 2190.73 -56.4575"
	"angles" "87.5284 174.197 -159.294"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "13556.8 2197.95 -58.1988"
	"angles" "-3.48711 39.333 5.48883"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "13541.7 2199.65 -55.7132"
	"angles" "67.5893 82.859 89.4347"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "13545.7 2191.76 -56.6025"
	"angles" "88.9574 130.729 -113.711"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}

; ################  ITEM SPAWN CHANGES  ###############
; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================
filter:
; --- Remove T2 weapons in the office buildings by the start
{
	{
		"hammerid" "471823"
	}
	{
		"hammerid" "471825"
	}
	{
		"hammerid" "471827"
	}
	{
		"hammerid" "510038"
	}
	{
		"hammerid" "510102"
	}
; --- Remove T2 weapons in garage before the rocky area
	{
		"hammerid" "1209306"
	}	
; --- Remove T2 weapons by the boat in the garage
	{
		"hammerid" "1209350"
	}
	{
		"hammerid" "1209352"
	}
	{
		"hammerid" "1209354"
	}
; --- Remove extra T2 weapons in the mechanic shop before the tank fight
	{
		"hammerid" "708786"
	}
	{
		"hammerid" "708788"
	}
	{
		"hammerid" "708790"
	}
	{
		"hammerid" "515819"
	}
; --- Remove extra T2 weapons in the tank fight arena
	{
		"hammerid" "1908795"
	}
	{
		"hammerid" "1909650"
	}
}

modify:
; --- Replace T2 weapons in garage before the rocky area
{
	match:
	{
		"hammerid" "1209302"
	}
	replace:
	{
		"weapon_selection" "tier1_shotgun"
		"spawn_without_director" "1"		
	}
}
{	
	match:
	{
		"hammerid" "1209304"
	}
	replace:
	{
		"weapon_selection" "any_smg"
		"spawn_without_director" "1"	
	}
}	
; --- Change T2 spawns in mechanic shop before tank fight to always be a hunting rifle/shotgun
{
	match:
	{
		"hammerid" "515815"
	}
	replace:
	{
		"weapon_selection" "tier2_shotgun"
		"spawn_without_director" "1"		
	}
}
{	
	match:
	{
		"hammerid" "515817"
	}
	replace:
	{
		"weapon_selection" "weapon_hunting_rifle"
		"spawn_without_director" "1"	
	}
}	
; --- Change T2 spawn in the tank fight arena to always be a rifle
{
	match:
	{
		"hammerid" "1908791"
	}
	replace:
	{
		"weapon_selection" "any_rifle"
		"spawn_without_director" "1"		
	}
}

; =====================================================
; ==                STATIC AMMO PILES                ==
; ==          Add or modify ammo pile spawns         ==
; =====================================================
add:
; --- Ammo pile in the brick factory, by the front loader
{
	"classname" "weapon_ammo_spawn"
	"origin" "3580 1337 0"
	"angles" "0 0 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
