; ################  ITEM SPAWN CHANGES  ###############
; =====================================================
; ==                  SAFEROOM ITEMS                 ==
; ==    Saferoom item spawns - ammo piles, weapons   ==
; =====================================================
; --- Medkit spawns in the saferoom
add:
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "162.155 -1391.41 -139.016"
	"angles" "15 166 0"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "164.455 -1374.16 -136.786"
	"angles" "87 284.5 0"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "170.266 -1365.34 -136.786"
	"angles" "87 179 0"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "171.455 -1396.16 -136.786"
	"angles" "87 172.5 0"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}
; --- Add T1 weapon spawns in the saferoom
{
	"classname" "weapon_spawn"
	"origin" "375 -1428 -164"
	"angles" "-74 1 88"
	"weapon_selection" "tier1_shotgun"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
{
	"classname" "weapon_spawn"
	"origin" "392 -1413 -136"
	"angles" "0 66.5 90"
	"weapon_selection" "any_smg"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}

; ################  ITEM SPAWN CHANGES  ###############
; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================
; --- Medkit spawns in the finale area
add:
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "7097.03 6494 46.9297"
	"angles" "0 302 0"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "7094.53 6461.33 50.4935"
	"angles" "89 195.5 -90"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "7094.17 6447 47.943"
	"angles" "0 60 0"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}
{
	"classname" "weapon_first_aid_kit_spawn"
	"origin" "7096.62 6480.12 49.1657"
	"angles" "89 149 -90"
	"spawnflags" "2"
	"solid" "6"
	"spawn_without_director" "1"	
}

; =====================================================
; ==                STATIC AMMO PILES                ==
; ==          Add or modify ammo pile spawns         ==
; =====================================================
; --- Make the ammo pile by the shipping container always spawn
modify:
{
	match:
	{
		"hammerid" "192300"
	}
	insert:
	{
		"spawnflags" "2"
	}
}